Source: libnotify
Priority: optional
Maintainer: Andre Filipe de Assuncao e Brito <decko@noisemakers.org>
Build-Depends: gnome-pkg-tools,
               cdbs (>= 0.4.41),
               debhelper (>= 5),
               libgtk2.0-dev (>= 2.10),
               libglib2.0-dev (>= 2.6),
               libdbus-glib-1-dev (>= 0.35),
               libpopt-dev
Uploaders: Loic Minier <lool@dooz.org>, Riccardo Setti <giskard@debian.org>
Standards-Version: 3.7.2
Section: libs

Package: libnotify-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libnotify1 (= ${Source-Version}),
         libdbus-glib-1-dev (>= 0.35),
         libgtk2.0-dev (>= 2.10),
         libglib2.0-dev (>= 2.6)
Provides: libnotify-dev-gtk2.10
Description: sends desktop notifications to a notification daemon
 A library that sends desktop notifications to a notification daemon, as
 defined in the Desktop Notifications spec. These notifications can be
 used to inform the user about an event or display some form of
 information without getting in the user's way.
 .
 This package contains the include files and static library.

Package: libnotify1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: libnotify1-gtk2.10
Recommends: notification-daemon
Description: sends desktop notifications to a notification daemon
 A library that sends desktop notifications to a notification daemon, as
 defined in the Desktop Notifications spec. These notifications can be
 used to inform the user about an event or display some form of
 information without getting in the user's way.
 . 
 This package contains the shared library. To actually display the
 notifications, you need to install the package notification-daemon.

Package: libnotify-bin
Section: utils
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: sends desktop notifications to a notification daemon
 A library that sends desktop notifications to a notification daemon, as
 defined in the Desktop Notifications spec. These notifications can be
 used to inform the user about an event or display some form of
 information without getting in the user's way.
 . 
 This package contains the binary which sends the notification.

Package: libnotify-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Suggests: devhelp
Description: sends desktop notifications to a notification daemon
 A library that sends desktop notifications to a notification daemon, as
 defined in the Desktop Notifications spec. These notifications can be
 used to inform the user about an event or display some form of
 information without getting in the user's way.
 .
 This package contains the documentation for libnotify1 in
 /usr/share/gtk-doc/html/libnotify .

